<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="HandheldFriendly" content="True">
{{ if .IsHome }}
<title>{{ .Site.Title }}{{ if isset .Site.Params "pagetitle" }} - {{ .Site.Params.Pagetitle }}{{ end }} </title>
{{- else -}}
<title>{{ .Title }} - {{ .Site.Title }}</title>
{{- end -}}    

<link rel="shortcut icon" href="/images/favicon.png" type="image/png">

{{ if .IsHome }}
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="I'm a technology professional who's been passionate about computers since my Grandad introduced me to an Intel 386 back in the 90s when I was a kid. Those moments inspired a passion within for technology, and I've been playing around with anything with a circuit board ever since. Whenever I have a moment you can probably find me working on something computer-related, and this is where I like to write about those moments.">
{{- else -}}
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ .Summary }}">
{{ end }}
<meta property="og:image" content="/images/opengraph_image.png">
<meta property="og:url" content="{{ .Permalink }}">
{{ range .AlternativeOutputFormats -}}
{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
<link rel="stylesheet" href="/css/stylesheet.css">
<link rel="stylesheet" href="/css/line-awesome.css">
<script async defer data-website-id="49805fbf-39ec-4ee7-9450-4e7d4c794461" src="https://analytics.jakeprice.dev/umami.js"></script>
